@model ToDoListAsPerUser.ViewModel.Login1

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<hr />
<p class="text-danger"> @ViewBag.message</p>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">



   <p><b>Username:</b>  <input type="text" name="UserName" value="" /></p>
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    <br />
    
    <p><b>Password</b>  <input type="password" value="" name="Password" /></p>
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    <br />
   
    <input type="submit" value="Submit" />
</div>
}
<br />
<br />

