<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<add name="Sample" connectionString="server=.\SQLExpress; Database=Transaction;User Id=sa;Password=root;" providerName="using System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>