
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submit</title>
</head>
<body>
    <div> if(!@ViewBag.name==null){
                <p>@ViewBag.name Added Successfully</p>
    }
    else{
    <p>OOPS! Some Error Occured</p>}
        
    </div>
</body>
</html>
