
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submit</title>
</head>
<body>
    <div>
        @if (@ViewBag.name == null)
        {

            <p>OOPS! Some Error Occured</p>
        }
        else
        {<p>@ViewBag.name Added Or Updated or Deleted Successfully</p>}
            

    </div>
</body>
</html>
