

@{
    ViewBag.Title = "Index";
}

<h2>Get Contacts</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>First-Name</th>

        <th>LastName</th>
        <th>Contact</th>
    </tr>
    @foreach (var i in ViewBag.con)
    {
<tr>
    <td>@i.Id</td>
    <td>@i.FirstName</td>
    <td>@i.LastName</td>
    <td>@i.contactNo</td>


</tr>
    }
</table>

















