
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>accountcreated</title>
</head>
<body>
    <div>
        <script>
            alert("Account Created Successfully");
        </script>
    </div>
</body>
</html>
