
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>authenticate</title>
</head>
<body>
    <div> 
        <p style="color:green">Login Succesfull</p>
    </div>
</body>
</html>
