
@{
    ViewBag.Title = "hello";
}

<h2>hello</h2>
@{ 
    
    <h3>@ViewBag.MyString</h3>
    <br />
    <h1>Printing 5 times: </h1>
    for(int i = 0; i < 5; i++)
    {
      <p>hello @ViewBag.MyString</p><br />
    }
 }


