
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>loginfailed</title>
</head>
<body>
    <div> 
        <script>
            alert("Login Failed :Incorrect Password or Name")
        </script>
    </div>
</body>
</html>
