@model WelcomeMVCApp.Models.User

@{ 
    List<SelectListItem> departments = new List<SelectListItem>();
    departments.Add(new SelectListItem{ Text = "IT",Value = "IT"});
    departments.Add(new SelectListItem { Text = "HR", Value = "HR" });
    departments.Add(new SelectListItem { Text = "MARKETING", Value = "MARKETING" });
    departments.Add(new SelectListItem { Text = "SALARY", Value = "SALARY" });
}

@{
    ViewBag.Title = "PrintFromTextbox";

}

<h2>Print Name from Textbox</h2>

@using(Html.BeginForm("print", "Home", FormMethod.Post))
{   <div>
    Id:<input type="number" name="id" value="" />
    </div>
    <br />
    <div>
        name:@Html.TextBox("name");
    </div>
    <div>
        Departent:@Html.DropDownList("Technology", departments, "select");
    </div>
    <br />
    <div>
        <input type="submit" value="Sumbit" />
    </div>
}

@if (ViewBag.flag)
{
    
    <p> Name: @Model.Name</p>
    <p>Id:@Model.id</p>
    string val = ViewBag.tech;
    int i;
    if (val.Equals("IT"))
    {
        i = 1;
    }
    else if (val.Equals("HR"))
    {
        i = 2;
    }
    else if (val.Equals("MARKETING"))
    {
        i = 3;
    }
    else
    {
        i = 4;
    }
    <p>Selected Department:@val And Id : @i</p>
}